@import url(https://fonts.googleapis.com/css?family=Lato:300);

html,
body { height: 100%; }

body {
  font-size: 16px;
  background:
    radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(229, 229, 229, .85) 100%
    );
  background-position: center;
  font-family: Lato, Helvetica, sans-serif;
  text-align: center;
}
