@import url(https://fonts.googleapis.com/css?family=Lato:300);

html,
body { height: 100%; }

body {
  font-size: 16px;
  background:
    radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(229, 229, 229, .85) 100%
    );
  background-position: center;
  font-family: Lato, Helvetica, 微軟正黑體, sans-serif;
  text-align: center;
}

.align-baseline .modal-card{
  margin-top: 50px;
}
.modal-card-head{
  padding: 5px
}
.modal-card-foot{
  padding: 0 0 10px 0;
  font-size: 14px;
  justify-content: center;
  width: 100%;
  white-space:nowrap;
}
